{% extends 'base.html.twig' %}

{% block body %}

<div id="homeHero">
        <h1>Site communautaire Snowtricks</h1>
        <a id="downArrow" href="#row1"><i class="fas fa-arrow-down"></i></a> 
    </div>
    <div class="row" id="row1">
        {% for trick in tricks|slice(0, 4) %} 
            <div class="trick" id="trick">
                <a href=" {{ path('trick_show', {"trick_id": trick.id}) }}"><img src="{{ trick.coverImagePath }}" ></a>
                <div class="trickContentContainer">
                    <div class="titleContainer">
                        <h2>{{ trick.name }}</h2>
                    </div>
                    {% if app.user %}
                        <div class="iconContainer">
                            <div class="trashIcon icon">
                                <a onclick="return confirm('attention, cela va supprimer l\'article')" href=" {{ path('trick_delete', {"id": trick.id}) }}" class="delete"><i class="fas fa-trash"></i></a>
                            </div>
                            <div class="penIcon icon">
                                <a href=" {{ path('trick_update', {"id": trick.id}) }}"><i class="fas fa-pen"></i></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="tricks"></div>

    <div id="loadMoreButtonContainer">
        <button onclick="loadMore()" value="Increment Value">Load more</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="http://localhost/cours_php/projetsnowtricks/public/js/script.js"></script>
{% endblock %}