{% extends 'base.html.twig' %}

{% block stylesheets %}

#homeHero {
    height: 1000px; 
    background: url(img/homeHero.jpg) no-repeat center;
    background-size: 80%;
}

#homeHero h1 {
    font-size : 3em;
    text-align : center; 
    vertical-align: center;  
}

.row {
    display: flex;
    margin-right : 200px; 
    margin-left: 50px; 
    margin-top: 50px; 
    margin-bottom: 10px; 
    width : 60%;
}

.trick {
    margin-left: 5px; 
    margin-right: 5px;
    border: solid black 2px;
    border-radius: 10px;
}

.trick img {
    height: 180px;
    border: solid black 0.5px;
}

.trickContentContainer {
    display: flex;
    justify-content: space-between; 
}

.iconContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.titleContainer {
    margin-left: 76px;
}

.icon {
    margin-right: 15px;
}

#loadMoreButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#loadMoreButtonContainer button {
    height: 80px;
    width: 120px;
    border-radius: 20px;
}

{% endblock %}

{% block head %}

{% endblock %}

{% block title %}{% endblock %}

{% block body %}

<div id="homeHero">
        <h1>Site communautaire Snowtricks</h1> 
    </div>
    <div class="row" id="row1">
        {% for trick in tricks|slice(0, 4) %} 
            <div class="trick" id="trick">
                <a href=" {{ path('trick_show', {"trick_id": trick.id}) }}"><img src="{{ trick.coverImagePath }}" ></a>
                <div class="trickContentContainer">
                    <div class="titleContainer">
                        <h2>{{ trick.name }}</h2>
                    </div>
                    {% if app.user %}
                        <div class="iconContainer">
                            <div class="trashIcon icon">
                                <a onclick="return confirm('attention, cela va supprimer l\'article')" href=" {{ path('trick_delete', {"id": trick.id}) }}" class="delete"><i class="fas fa-trash"></i></a>
                            </div>
                            <div class="penIcon icon">
                                <a href=" {{ path('trick_update', {"id": trick.id}) }}"><i class="fas fa-pen"></i></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row" id="row1">
        {% for trick in tricks|slice(4, 4) %} 
            <div class="trick" id="trick">
                <a href="{{ path('trick_show', {"trick_id": trick.id}) }}"><img src="{{ trick.coverImagePath }}" ></a>
                <div class="trickContentContainer">
                    <div class="titleContainer">
                        <h2>{{ trick.name }}</h2>
                    </div>
                    {% if app.user %}
                        <div class="iconContainer">
                            <div class="trashIcon icon">
                                <a onclick="return confirm('attention, cela va supprimer l\'article')" href=" {{ path('trick_delete', {"id": trick.id}) }}" class="delete"><i class="fas fa-trash"></i></a>
                            </div>
                            <div class="penIcon icon">
                                <a href=" {{ path('trick_update', {"id": trick.id}) }}"><i class="fas fa-pen"></i></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row" id="row1">
        {% for trick in tricks|slice(8, 4) %} 
            <div class="trick" id="trick">
                <a href="{{ path('trick_show', {"trick_id": trick.id}) }}"><img src="{{ trick.coverImagePath }}" ></a>
                <div class="trickContentContainer">
                    <div class="titleContainer">
                        <h2>{{ trick.name }}</h2>
                    </div>
                    {% if app.user %}
                        <div class="iconContainer">
                            <div class="trashIcon icon">
                                <a onclick="return confirm('attention, cela va supprimer l\'article')" href=" {{ path('trick_delete', {"id": trick.id}) }}" class="delete"><i class="fas fa-trash"></i></a>
                            </div>
                            <div class="penIcon icon">
                                <a href=" {{ path('trick_update', {"id": trick.id}) }}"><i class="fas fa-pen"></i></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>  

    <div id="loadMoreButtonContainer">
        <a href=#><button>Load more</button></a>
    </div>

{% endblock %}


