{% extends 'base.html.twig' %}

{% block stylesheets %}

#homeHero {
    height: 1000px; 
    background: url(img/homeHero.jpg) no-repeat center;
    background-size: 80%;
    position : relative; 
}

#homeHero h1 {
    font-size : 3em;
    text-align : center; 
    vertical-align: center;  
}

.row {
    display: flex;
    margin-right : 200px; 
    margin-left: 50px; 
    margin-top: 50px; 
    margin-bottom: 10px; 
    width : 60%;
}

.trick {
    margin-left: 5px; 
    margin-right: 5px;
    border: solid black 2px;
    border-radius: 10px;
}

.trick img {
    height: 180px;
    border: solid black 0.5px;
}

.trickContentContainer {
    display: flex;
    justify-content: space-between; 
}

.iconContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.titleContainer {
    margin-left: 76px;
}

.icon {
    margin-right: 15px;
}

#loadMoreButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#loadMoreButtonContainer button {
    height: 80px;
    width: 120px;
    border-radius: 20px;
}

#downArrow {
    position : absolute; 
    bottom : 5%; 
    right : 1%;
}

{% endblock %}

{% block head %}

{% endblock %}

{% block title %}{% endblock %}

{% block body %}

<div id="homeHero">
        <h1>Site communautaire Snowtricks</h1>
        <a id="downArrow" href="#row1"><i class="fas fa-arrow-down"></i></a> 
    </div>
    <div class="row" id="row1">
        {% for trick in tricks|slice(0, 4) %} 
            <div class="trick" id="trick">
                <a href=" {{ path('trick_show', {"trick_id": trick.id}) }}"><img src="{{ trick.coverImagePath }}" ></a>
                <div class="trickContentContainer">
                    <div class="titleContainer">
                        <h2>{{ trick.name }}</h2>
                    </div>
                    {% if app.user %}
                        <div class="iconContainer">
                            <div class="trashIcon icon">
                                <a onclick="return confirm('attention, cela va supprimer l\'article')" href=" {{ path('trick_delete', {"id": trick.id}) }}" class="delete"><i class="fas fa-trash"></i></a>
                            </div>
                            <div class="penIcon icon">
                                <a href=" {{ path('trick_update', {"id": trick.id}) }}"><i class="fas fa-pen"></i></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="loadMoreButtonContainer">
        <button onclick="loadMore()" value="Increment Value">Load more</button>
    </div>
    <div id="tricks"></div>
{% endblock %}

{% block javascripts %}

<script>

function loadMore(){

    // We increment the value every time the button is clicked
        var offset = parseInt(document.getElementById('tricks').offset, 10);
        offset = isNaN(offset) ? 0 : offset;
        offset +=4;
        document.getElementById('tricks').offset = offset;

    // We send the information to the controller
        xhr = new XMLHttpRequest(); 

        // We insert the offset number in the url 
        var url = '{{ path("load_more_tricks", {"offset": "offset_number"}) }}'
        url = url.replace("offset_number", offset)

        // We send the url to the controller
        xhr.open('POST', url , true); 
        xhr.onload = function(){
            
            if (this.status == 200) {
                    var tricks = JSON.parse(this.responseText); 

                    var output = ''; 

                    for(var i in tricks){
                        output += '<ul>' + 
                        '<li> nom : '+tricks[i].name+'</li>' + 
                        '<li> description : '+tricks[i].description+'</li>' + 
                        '</ul>' ;
                    }                     
            }
            document.getElementById('tricks').innerHTML = output ; 
        }   
        xhr.send(); 
}

</script>

{% endblock  %}