{% extends 'base.html.twig' %}

{% block body %}

<h1>Création d'une figure</h1>

{{ form_start(formTrickCreation) }}

{{ form_row(formTrickCreation.name, { 'attr' : {'placeholder' : " Nom de la figure"} })}}
{{ form_row(formTrickCreation.description, { 'attr' : {'placeholder' : " Description de la figure"} })}}
{{ form_row(formTrickCreation.coverImage, { 'attr' : {'placeholder' : " Image de couverture"} })}}
{{ form_row(formTrickCreation.trickGroup, { 'attr' : {'placeholder' : " Groupe de la figure"} })}}
{{ form_row(formTrickCreation.images) }}
<button type="submit">Créer l'article</button>

{{ form_end(formTrickCreation)}}

{% endblock %}



