{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #trickHero 
        {
            background: url('../../{{ trick.coverImagePath }}'); 
        }
    </style>
{% endblock %}

{% block body %}

<div id="trickHero">
    {% if app.user %}
    <div class="ContainerIconContainer">
        <div class="iconContainer">
            <div class="trashIcon icon">
                <a onclick="return confirm('attention, cela va supprimer la figure')" href=" {{ path('trick_delete', {"id": trick.id}) }}" class="delete"><i class="fas fa-trash"></i></a>
            </div>
            <div class="penIcon icon">
                <a href=" {{ path('trick_update', {"id": trick.id}) }}"><i class="fas fa-pen"></i></a>
            </div>
        </div>
    </div> 
    {% endif %}
</div>
<h1> {{ trick.name }} </h1>
<div id="mediaSection">

{% for video in trick.videos %}
    <div class="media" id="media1">
        {{ video.path|raw }}
    </div>
{% endfor %}
{% for image in trick.images %}
    <div class="media" id="media2"><img src="../../{{ image.path }}"></div>
{% endfor %}
</div>

<p>
    {{ trick.description }}
    <div>
        <div>Date de création : {{ trick.creationDate|date('d/m/Y H:i', timezone="Europe/Paris") }} </div>
        <div>Date de la dernière modification : {{ trick.updateDate|date('d/m/Y H:i', timezone="Europe/Paris") }} </div>
        <div>Groupe : {{ trick.trickGroup.name }}</div>
    </div>
</p>

{# comment system #}

    {# comment form #}

{% if app.user %}

{{ form_start(commentForm) }}
{{ form_row(commentForm.commentContent) }}
<button type="submit">Créer le commentaire</button>
{{ form_end(commentForm) }}

{% endif %}


{# comments related with the trick #}

{% for paginatedComment in paginatedComments %}
    <div class="commentContainer">
        <div class="commentPicture">
            <img src="../../{{ paginatedComment.user.profilePicturePath }}">
        </div>
        <div>
            <p>  {{ paginatedComment.commentContent }}  </p>
        </div>
    </div>
{% endfor %}
<ul>
    {% for item in 1..(( totalComments / limit)|round(0,'ceil')) %}
        <li>
            <a href="?page={{ item }}">{{ item }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}