{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}

{% block stylesheets %}

#trickHero {
    background: url('../../{{ trick.image }}'); 
    height: 1000px; 
    border: solid black 1px;
}

.ContainerIconContainer {
    display: flex;
    align-items: right;
}

.iconContainer {
    display: flex;
}
 
#mediaSection {
    display: flex; 
}

.media {
    border: solid black 1px; 
}

.media img {
    height: 180px; 
    border: solid black 1px;
}

{% endblock %}

{% block body %}

<div id="trickHero">
    <div class="ContainerIconContainer">
        <div class="iconContainer">
            <div class="trashIcon icon">
                <a onclick="return confirm('attention, cela va supprimer la figure')" href=" {{ path('trick_delete', {"id": trick.id}) }}" class="delete"><i class="fas fa-trash"></i></a>
            </div>
            <div class="penIcon icon">
                <a href=" {{ path('trick_update', {"id": trick.id}) }}"><i class="fas fa-pen"></i></a>
            </div>
        </div>
    </div> 
</div>
<h1> {{ trick.name }} </h1>
<div id="mediaSection">

{% for video in videos %}
    <div class="media" id="media1"><img src="../../{{ trick.video }}"></div>
{% endfor %}
{% for image in images %}
    <div class="media" id="media2"><img src="../../{{ trick.image }}"></div>
{% endfor %}
</div>

<p>
    {{ trick.description }}
</p>

{% endblock %}
