{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #trickHero {
            background: url('../../{{ trick.coverImagePath }}') center top no-repeat; 
            background-size: 100% auto;
        }
    </style>
{% endblock %}

{% block body %}
     <h1 id="trick_title"> {{ trick.name }} </h1>
    <div id="trickHero">   
    </div>
    {% if app.user %}
    <button id="updateButton"><a href="{{ path("trick_update", {"id": trick.id}) }}">Modifier la figure<a/></button>
    {% endif %}

    <div id="mediaSection">
        {% for video in trick.videos %}
            <div class="mediaContainer">
                <div class="media" id="media1">
                    {{ video.path|raw }}
                </div>
            </div>
        {% endfor %}

        {% for image in trick.images %}
            <div class="mediaContainer">
                <div class="media" id="media2"><img src="../../{{ image.path }}"></div>
            </div>       
        {% endfor %}
    </div>

    <div id="trick_infos">
            <h3>Infos</h3>
            <div>Date de création : {{ trick.creationDate|date('d/m/Y H:i', timezone="Europe/Paris") }} </div>
            <div>Date de la dernière modification : {{ trick.updateDate|date('d/m/Y H:i', timezone="Europe/Paris") }} </div>
            <div>Groupe : {{ trick.trickGroup.name }}</div>
    </div>

    <div id="trick_description">
        <h3>Description de la figure</h3>
        <p>
            {{ trick.description }}
        </p>
    </div>

    <h2 id="comments_header">Espace commentaires</h2>

    {% for message in app.flashes('message') %}
            <div class="flash-message" id="comment_flash_message">
                {{ message }}
            </div>
    {% endfor %}

    {# We display the comment form for logged in users #}

    {% if app.user %}

    {{ form_start(commentForm, {'attr' : {'class' : 'comment_form'}}) }}
    <label>Ecrire un commentaire</label><br>
    {{ form_row(commentForm.commentContent, {'attr' : {'placeholder' : 'Votre commentaire...'}}) }}
    <button id="comment_form_button" type="submit">Créer le commentaire</button>
    {{ form_end(commentForm) }}

    {% endif %}

    {# We display the comments related with the trick #}
    {% if totalComments > 0 %}
        <div id="commentSection">
            {% for paginatedComment in paginatedComments %}
                <div class="commentContainer">
                    <div class="commentPicture">
                        <img src="../../{{ paginatedComment.user.profilePicturePath }}">
                    </div>
                    <div class="commentContent">
                        <p> {{ paginatedComment.commentContent }} </p>
                    </div>
                </div>
                <hr>
            {% endfor %}

            {# We display the comments page numbers #} 
            <ul>
                <div class="pageContainer">
                    {% for item in 1..(( totalComments / limit)|round(0,'ceil')) %}
                        <li class="pageList">
                            <div class="page">
                                {% if item > 0 %}
                                <a href="?page={{ item }}">{{ item }}</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </div>    
            </ul>
        </div>
    {% endif %}
{% endblock %}