{% extends 'base.html.twig' %}

{% block stylesheets %}

#trickHero {
    background: url('../../{{ trick.coverImage }}'); 
    height: 1000px; 
    border: solid black 1px;
}

.ContainerIconContainer {
    display: flex;
    align-items: right;
}

.iconContainer {
    display: flex;
}
 
#mediaSection {
    display: flex; 
}

.media {
    border: solid black 1px; 
}

.media img {
    height: 315px; 
    border: solid black 1px;
}

{% endblock %}

{% block body %}

<div id="trickHero">
    {% if app.user %}
    <div class="ContainerIconContainer">
        <div class="iconContainer">
            <div class="trashIcon icon">
                <a onclick="return confirm('attention, cela va supprimer la figure')" href=" {{ path('trick_delete', {"id": trick.id}) }}" class="delete"><i class="fas fa-trash"></i></a>
            </div>
            <div class="penIcon icon">
                <a href=" {{ path('trick_update', {"id": trick.id}) }}"><i class="fas fa-pen"></i></a>
            </div>
        </div>
    </div> 
    {% endif %}
</div>
<h1> {{ trick.name }} </h1>
<div id="mediaSection">

{% for video in trick.videos %}
    <div class="media" id="media1">
    <iframe width="560" height="315" src=" {{ video.path }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endfor %}
{% for image in trick.images %}
    <div class="media" id="media2"><img src="../../{{ image.path }}"></div>
{% endfor %}
</div>

<p>
    {{ trick.description }}
</p>

{# comment system #}

    {# comment form #}

{% if app.user %}

{{ form_start(commentForm) }}
{{ form_row(commentForm.commentContent) }}
<button type="submit">Créer le commentaire</button>
{{ form_end(commentForm) }}

{% endif %}


{# comments related with the trick #}

{% for comment in trick.comments %}
<div>
    <p>{{ comment.commentContent }}</p>
</div>
{% endfor %}

{% endblock %}